/* .App {
  text-align: center;
  border: 4px solid purple;
  display: grid;
  grid-template: 1fr 50px 30fr / 1fr;
  grid-template-areas: 
  'header'
  'nav'
  'body';
}

.Header {
  border: 4px solid pink;
  grid-area: header;
  
}

.Navbar {
  border: 4px solid red;
  grid-area: nav;
}
.Navbar a {
  padding: 20px;
  justify-content: space-evenly;
}

.Body {
  border: 4px solid orange;
  grid-area: body;
  list-style: none;
}

.Body li {
  list-style: none;
}

.article-card {
  width: 90%;
  margin: 20px auto;
  border: 4px solid crimson;
}

@media only screen and (min-width: 768px) {
  .App {
    grid-template: 2fr 50fr/ 1fr 2fr;
    grid-template-areas:
    'header header'
    'nav body';
  }

  .Navbar {
    display: flex;
    flex-direction: column;
  }
}

.comment-card {
  width: 90%;
  border: 2px solid rosybrown;
  border-color: bisque;
  margin: 20px auto;
}

.signed-in {
  width: 90%;
  border: 2px solid rosybrown;
  border-color: bisque;
  margin: 20px auto;
}
.user--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user{
  margin-top: 40px;
}
.avatar-pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: contain;
  margin-right: 20px;
}

.signin-form {
  border: 2px solid bisque;
  border-color: burlywood;
  margin: 10px auto;
} */



/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
